@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Satisfy&display=swap");
:root {
  --bg-primary: #264653;
  --bg-header: #2a9d8f;
  --nav-color: #fca311;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  background-color: var(--bg-primary);
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-header);
  padding: 0px 20px;
  height: 50px;
}
header .logo {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
header .logo:hover {
  color: brown;
}
header nav.navigation {
  width: 300px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}
nav ul li {
  width: 80px;
  text-align: center;
  padding: 5px;
}
nav ul li:hover {
  border: 2px solid var(--bg-primary);
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  /* font-family: "Croissant One", cursive; */
  font-weight: bold;
}
.btn {
  padding: 5px 15px;
  border: none;
  background-color: var(--bg-primary);
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.btn-cv {
  width: 150px;
}
.btn-cv:hover {
  background-color: #3291b6;
  border: 2px solid #fca311;
}
.hero-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
  color: #fff;
  padding: 30px;
}
.hero-left h2 {
  font-size: 38px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.hero-left > p {
  text-align: justify;
  font-size: 16px;
}
.social-icons {
  display: flex;
  margin-top: 10px;
}
.social-icons li {
  margin-right: 10px;
  padding: 5px;
}
.social-icons li a i {
  color: #fff;
}
.social-icons li a i:hover {
  color: #2a9d8f;
}
.hero-section-btn {
  margin-top: 10px;
}
.hero-btn {
  padding: 5px 15px;
  border: none;
  background-color: var(--bg-header);
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #31726a;
}
